$grey: #b2b2b2; 
$dark-grey: #717171;
$dark-grey1: #c1c0c0;
$light-grey: #e7e7e7;
$border-color: #e7e7e7;
$green: #9bc31e;
$light-green: #cde18f;
$lighter-green: #f4f0be;
$yellow: #c0ac00;
$text-color: #424242;
$correct-color: #edf3d2;
$incorrect-color: #D78B9C;
$black: #000000;
$maroon: #a86767;
$derk-maroon: #b8173e;
$white: #ffffff;

$font-family-FiraSans-Book: "FiraSansBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-serif: "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
