/* Slider */
/* line 3, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 24, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-list:focus {
  outline: none;
}

/* line 28, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 50, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

/* line 56, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-track:after {
  clear: both;
}

/* line 60, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

/* line 68, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}

/* line 71, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slide img {
  display: block;
}

/* line 74, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 80, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 84, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 88, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 92, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 98, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/slick/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 1, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.svg-container {
  background-image: url("/static/ekgtraining/images/icons/dot.png");
  border: 1px solid #E0E0E0;
  border-bottom: 0px;
}

/* line 7, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar {
  background: #F8F8F8;
  border: 1px solid #E0E0E0;
  height: 70px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 17px 20px 10px 10px;
}

/* line 16, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar .calculator_toolbar {
  float: left;
}

/* line 19, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar .calculator_toolbar p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 19px !important;
  margin-top: 8px !important;
  font-size: 19px;
}

/* line 27, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar .calculator_toolbar p.active {
  color: #B8173E !important;
}

/* line 33, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar .ruler_toolbar {
  float: right;
}

/* line 37, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  height: 34px;
  width: 34px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 47, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_rechner-1 {
  width: 27px;
  background-image: url("/static/ekgtraining/images/icons/icon_rechner-1.png");
}

/* line 51, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_rechner-1:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_rechner_highlight.png");
}

/* line 55, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_rechner-1.active {
  background-image: url("/static/ekgtraining/images/icons/icon_rechner.png");
}

/* line 60, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_ruler-1 {
  width: 59px;
  background-image: url("/static/ekgtraining/images/icons/icon_ruler-1.png");
}

/* line 64, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_ruler-1:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_ruler_highlight.png");
}

/* line 68, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_ruler-1.active {
  background-image: url("/static/ekgtraining/images/icons/icon_ruler.png");
}

/* line 73, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_zoom_in {
  background-image: url("/static/ekgtraining/images/icons/icon_zoom_in.png");
}

/* line 76, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_zoom_in:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_zoom_in_highlight.png");
}

/* line 81, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_zoom_out {
  background-image: url("/static/ekgtraining/images/icons/icon_zoom_out.png");
}

/* line 84, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_zoom_out:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_zoom_out_highlight.png");
}

/* line 89, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_back {
  background-image: url("/static/ekgtraining/images/icons/icon_back.png");
}

/* line 92, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_back:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_reset_highlight.png");
}

/* line 97, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_fullscreen {
  background-image: url("/static/ekgtraining/images/icons/icon_fullscreen.png");
}

/* line 100, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_fullscreen:hover {
  background-image: url("/static/ekgtraining/images/icons/icon_fullscreen_highlight.png");
}

/* line 104, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.ecg_toolbar span.icon_fullscreen.active {
  background-image: url("/static/ekgtraining/images/icons/icon_close_fullscreen.png");
}

/* line 111, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.close_fullscreen {
  background: #F8F8F8;
}

/* line 114, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.close_fullscreen span {
  display: block;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 123, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.close_fullscreen span.icon_close {
  background-image: url("/static/ekgtraining/images/icons/icon_close.png");
}

/* line 129, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 139, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode .fullscreen-wrapper {
  position: relative;
}

/* line 142, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode .fullscreen-wrapper .svg-container {
  height: calc(100vh) !important;
}

/* line 146, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode .fullscreen-wrapper .ecg_toolbar {
  border: 0;
  position: absolute;
  width: auto;
  right: 0;
  bottom: 0;
  border-radius: 5px 0 0 0;
}

/* line 154, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode .fullscreen-wrapper .ecg_toolbar .calculator_toolbar {
  display: none;
}

/* line 159, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.fullscreen-mode .fullscreen-wrapper .close_fullscreen {
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  width: auto;
  right: 0px;
  top: 0px;
  padding: 23.5px;
}

/* line 170, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container {
  margin-top: 30px;
  border: 1px solid #E0E0E0;
  display: flex;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 178, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container img {
  cursor: default;
}

/* line 182, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 187, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 {
  border-right: 1px solid #E0E0E0;
}

/* line 190, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 input[type="text"],
.qtc-calc-container .qtc-col.qtc-col-1 input[type="number"] {
  width: 100% !important;
  color: #959595;
  padding: 16px;
  height: 54px;
  font-size: 17px;
}

/* line 198, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 input[type="text"]:focus,
.qtc-calc-container .qtc-col.qtc-col-1 input[type="number"]:focus {
  border: 1px solid #c8c8c8;
  box-shadow: none;
}

/* line 204, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 label {
  position: relative;
  border: 0 !important;
  padding-left: 0 !important;
  cursor: default !important;
  font-size: 17px !important;
  margin-bottom: 10px !important;
}

/* line 214, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 label span.active:after {
  background-image: url("/static/ekgtraining/images/icons/icon_pipette_ruler_active.png");
}

/* line 219, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 label span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 23px;
  background-image: url("/static/ekgtraining/images/icons/icon_pipette_ruler.png");
}

/* line 231, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq {
  margin-top: 20px;
  font-size: 17px;
}

/* line 235, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq span {
  display: inline-block;
}

/* line 239, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq input {
  border: 0 !important;
  box-shadow: none;
  padding: 0;
  height: auto !important;
  display: inline-block;
  width: calc(100% - 120px) !important;
  min-width: 50px !important;
  margin-top: 2px !important;
  color: #B8173E;
}

/* line 251, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq .qtc-hfreq-result {
  color: #B8173E;
  position: relative;
  padding-right: 20px;
  cursor: text;
  display: inline-block;
  /*&:after {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    width: 14px;
                    height: 14px;
                    background-image: url("/static/ekgtraining/images/icons/icon_edit.png");
                }*/
}

/* line 258, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq .qtc-hfreq-result img {
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* line 264, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq .qtc-hfreq-result .edit-icon {
  width: 14px;
  height: 14px;
  background-image: url("/static/ekgtraining/images/icons/icon_edit.png");
  display: inline-block;
}

/* line 282, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 .qtc-hfreq input {
  margin-top: 10px;
}

/* line 288, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-1 button.calc-qtc-btn:hover {
  background-color: #D94166;
  border: 0;
}

/* line 296, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-2 {
  position: relative;
  text-align: center;
  padding-bottom: 70px;
}

/* line 301, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-2 .qtc-formula-btn,
.qtc-calc-container .qtc-col.qtc-col-2 .qtc-formula-btn:hover,
.qtc-calc-container .qtc-col.qtc-col-2 .qtc-formula-btn:focus {
  background: #fff;
  border: 1px solid #525252;
  color: #525252;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 313, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-2 strong {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  display: block;
  margin-bottom: 60px;
}

/* line 321, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col.qtc-col-2 img {
  margin: 0 auto 60px;
  cursor: default !important;
}

/* line 327, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col .form-group {
  margin-bottom: 50px;
  text-align: left;
}

/* line 332, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col .qtc-footer {
  text-align: left;
  color: #959595;
  margin-top: 10px;
}

/* line 338, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col .qtc-result {
  text-align: left;
  font-size: 32px;
  line-height: 32px;
  margin-top: 50px;
}

/* line 344, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col .qtc-result .qtc-result-val {
  color: #B8173E;
}

/* line 349, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
.qtc-calc-container .qtc-col label {
  font-weight: 500;
  font-family: "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  border-bottom: 0 !important;
  line-height: 25px !important;
  margin-bottom: 20px !important;
}

@media only screen and (max-width: 1410px) {
  /* line 360, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container {
    margin-top: 20px;
  }
  /* line 365, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container .qtc-col.qtc-col-1 {
    width: 40%;
  }
  /* line 369, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container .qtc-col.qtc-col-2 {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 377, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar {
    text-align: center;
  }
  /* line 380, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar .calculator_toolbar {
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  /* line 386, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar .calculator_toolbar p {
    display: none;
  }
  /* line 391, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar .ruler_toolbar {
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  /* line 399, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container {
    margin-top: 20px;
    display: block;
  }
  /* line 404, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container .qtc-col.qtc-col-1 {
    width: 100%;
  }
  /* line 408, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .qtc-calc-container .qtc-col.qtc-col-2 {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  /* line 416, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar {
    padding: 17px 10px 10px 10px;
  }
  /* line 419, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar span {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 344px) {
  /* line 427, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/_ecg_toolbar.scss */
  .ecg_toolbar span {
    width: 32px;
    height: 32px;
  }
}

/* line 4, //192.168.7.143/edx-dev/src/edx_training/assessment-xblock/assessmentxblock/static/sass/assessmentxblock.scss */
.read-only {
  pointer-events: none;
}

/*# sourceMappingURL=../css/assessmentxblock.map */